<% provide(:title, "Sign in")%>
<h1>Sign in</h1>

<div>
	<%= form_for(:session, url: sessions_path) do |f| %>

	<table>

		<tr>
			<td><%= f.label :email %></td>
			<td><%= f.text_field :email %></td>
		</tr>

		<tr>
			<td><%= f.label :password %></td>
			<td><%= f.password_field :password %></td>
		</tr>

	</table>

	<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>

	<% end %>

	<p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>