
<tr>
	<td class="topic-title"><%= link_to topic.title, topic_path(topic) %></td>
	<td class="topic-author"><%= link_to topic.user.username, topic.user %></td>
	<td class="topic-post-count"><%= topic.posts.count %></td>
	<td>
		<%= link_to "#{time_ago_in_words(topic.posts.last.created_at)} ago", topic.posts.last.permalink %><br/>
		<%= link_to "#{topic.posts.last.user.username}", user_path(topic.posts.last.user) %>
	</td>
	<td><%= time_ago_in_words(topic.created_at) %> ago</td>
</tr>