
<tr class="<%= cycle("odd", "even") -%>">
	<td class="column topic-title">
		<% if topic.sticky? %>
			<%= "Sticky: " %>
		<% end %>
		<%= link_to topic.title, topic_path(topic) %>
		<% if topic.locked? %>
			<b>Locked</b>
		<% end %>
	</td>
	<td class="column topic-author"><%= render 'users/user_link', user: topic.user %></td>
	<td class="column topic-posts"><%= topic.posts.count - 1 %></td>
	<td class="column topic-last-post">
		<%= link_to "#{(topic.last_replied_to_at)}", topic.posts.last.permalink %><br/>
		<%= render 'users/user_link', user: topic.posts.last.user %>
	</td>
	<td class="column topic-created"><%= time_ago_in_words(topic.created_at) %> ago</td>
</tr>