
<h1><%= link_to "Forums", boards_path %> > <%= link_to @board.title, @board %> > New Topic</h1>

<div>
	<%= form_for [@board, @topic] do |f| %>

	<%= render 'shared/error_messages', object: @topic %>

	<%= f.label :title %>
	<%= f.text_field :title %>
	<br/>
	
	<%= f.fields_for :posts do |p| %>
		<%= p.hidden_field :user_id, :value => current_user.id %>

		<%= p.text_area :content %>
	<% end %>
	<br/><br/>

	<%= f.submit "Post new topic", class: "button submit" %>
	<% end %>
</div>