
<div>
	<%= form_for [@board, @topic] do |f| %>

	<%= render 'shared/error_messages', object: @topic %>

	<%= f.label :title %>
	<%= f.text_field :title %>
	<br/>
	
	<%= f.fields_for :posts do |p| %>
		<%= p.hidden_field :user_id, :value => current_user.id %>

		<%= p.text_area :content %>
	<% end %>
	<br/>

	<% if current_user_is_admin? || current_user_is_moderator?(@board) %>
		Sticky: <%= f.check_box :sticky %>
		<br/>
		Locked: <%= f.check_box :locked %>
		<br/>
	<% end %>

	<%= f.submit "Post new topic", class: "button submit" %>
	<% end %>
</div>