<h1>Create new topic</h1>

Return to <%= link_to @board.title, @board %>

<div>
	<%= form_for [@board, @topic] do |f| %>

	<%= render 'shared/error_messages', object: @topic %>

	<%= f.label :title %>
	<%= f.text_field :title %>
	
	<%= f.fields_for :posts do |p| %>
		<%= p.hidden_field :user_id, :value => current_user.id %>

		<%= p.label :content %>
		<%= p.text_area :content %>
	<% end %>

	<%= f.submit "Post new topic", class: "button submit" %>
	<% end %>
</div>