<% provide(:title, "#{@board.title} | #{@topic.title}") %>
<h1><%= @topic.title %></h1>

Back to <%= link_to "#{@topic.board.title}", @topic.board %>

<%= will_paginate @posts %>

<%= render @posts %>

<%= will_paginate @posts %>

<%= link_to "Create new post", new_post_path%>
