<% provide(:title, "#{@board.title} | #{@topic.title}") %>

<% if current_user_is_admin? %>
	<br/>
	<%= render 'admin_topic_controls' %>
	<br/>
<% end %>

<div >
	<%= will_paginate @posts %>
	<br/><br/>

	<table class="posts">
		<tr>
			<th class="header-author">Author</th>
			<th class="header-message">Message</th>
		</tr>
		<%= render @posts %>
	</table>

	<br/>
	<%= will_paginate @posts %>

	<% if signed_in? %>
	<br/><br/>
	<%= button_to "Create new post", new_topic_post_path(@topic), :method => :get %>
	<% end %>

</div>

