<% provide(:title, "#{@board.title} | #{@topic.title}") %>
<h1><%= @topic.title %></h1>

Back to <%= link_to "#{@topic.board.title}", @topic.board %>

<%= will_paginate @posts %>

<table class="posts">
	<tr>
		<th>Author</th>
		<th>Message</th>
	</tr>
<%= render @posts %>
</table>

<%= will_paginate @posts %>

<%= link_to "Create new post", new_topic_post_path(@topic) %>
