<% provide(:title, "#{@board.title} | #{@topic.title}") %>

<% if current_user_is_admin? || current_user_is_moderator?(@board) %>
<br/>
<%= render 'admin_topic_controls' %>
<br/>
<% end %>

<div>
	<%= will_paginate @posts %>
	<br/><br/>

	<table class="posts-table">
		<tr>
			<th class="pc10">Author</th>
			<th class="pc90">Message</th>
		</tr>
		<%= render @posts %>
	</table>

	<br/>
	<%= will_paginate @posts %>

</div>

<% if signed_in? %>
<br/>
<%= button_to "Reply to this topic", new_topic_post_path(@topic), :method => :get %>
<% end %>