<% provide(:title, 'Sign up') %>

<div>
	<%= form_for(@user) do |f| %>

	<%= render 'shared/error_messages', object: f.object %>

	<%= f.label :username %>
	<%= f.text_field :username %>
	<br/>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<br/>
	<%= f.label :password %>
	<%= f.password_field :password %>
	<br/>
	<%= f.label :password_confirmation, "Confirmation" %>
	<%= f.password_field :password_confirmation %>
	<br/>
	<%= f.submit "Create my account", class: "button submit" %>
	<% end %>
</div>