<% provide(:title, "Profile for #{@user.username}") %>

<% if !current_user?(@user) %>
	<% if current_user_is_admin? %>
	<br/>
	<%= render 'user_controls' %>
	<br/>
	<% end %>

	<% if current_user.moderating.any? %>
	<br/>
	<%= render 'user_controls_moderator' %>
	<br/>
	<% end %>
<% end %>

<% if !@user.rank.nil? %>
Rank: <%= @user.rank.title %>
<% else %>
Unranked
<% end %>

<br/><br/>

<% if @user.moderating.any? %>
User is a moderator of the following boards <br/>
<% @user.moderating.each do |board| %><br/>
<%= link_to board.title, board_path(board) %>
<% end %>
<% end %>

<br/><br/>

<b>Email: </b><%= @user.email %><br/>

<br/>

<% if @topics.any? %>
<b>Topics: </b><%= @user.topics.count %><br/>
<%= link_to "See all topics for #{@user.username}", user_topics_path %>
<br/><br/>
<div>
	<table class="topics">
		<tr>
			<th class="header topic-title">Title</th>
			<th class="header topic-author">Author</th>
			<th class="header topic-posts">Posts</th>
			<th class="header topic-last-post">Last Post</th>
			<th class="header topic-created">Created</th>
		</tr>
		<%= render @topics %>
	</table>
</div>
<% else %>
This user has no topics
<br/>
<% end %>

<br/>

<% if @posts.any? %>

<b>Posts: </b><%= @user.posts.count %><br/>
<%= link_to "See all posts for #{@user.username}", user_posts_path %>
<br/><br/>
<div>
	<%= render @posts %>
	<br/>
</div>
<% else %>
This user has no posts
<% end %>
