<h2><%= link_to "Users", users_path %> > <%= link_to @user.username, @user %> > User topics</h2>

<% if @user.topics.any? %>
<div>
	<%= will_paginate @topics %>
	<table class="topics">
		<tr>
			<th class="header topic-title">Title</th>
			<th class="header topic-author">Author</th>
			<th class="header topic-posts">Posts</th>
			<th class="header topic-last-post">Last Post</th>
			<th class="header topic-created">Created</th>
		</tr>
		<%= render @topics %>
	</table>
	<%= will_paginate @topics %>
</div>
<% else %>
This user has no topics
<br/>
<% end %>