<tr class="<%= cycle("odd", "even") -%>">
	<td>
		<table class="board-title-table">
			<tr class="board-title-title"><td><%= link_to board.title, board %></td></tr>
			<tr class="board-title-description"><td><%= board.description %></td></tr>
			<tr class="board-title-moderators"><td>Moderators: <%= link_to "Admin", User.find(1) %></td></tr>
		</table>
	</td>
	<td><%= board.topics.count %></td>
	<td><%= board.topics.collect{|a| a.posts.count}.sum %></td>
	<td>
		<table class="board-lastpost-table">
			<% if board.posts.any? %>
			<tr><td><%= link_to "#{board.posts.last.topic.title.truncate(50, separator: ' ')}", board.posts.last %></td></tr>
			<tr><td class="center"><%= render 'users/user_link', user: board.posts.last.user %></td></tr>
			<% else %>
			<tr><td>No Topics</td></tr>
			<% end%>
		</table>
	</td>
</tr>