<% provide(:title, @board.title) %>
<h2 class="description"><%= @board.description %></h2>

<% if current_user_is_admin? || current_user_is_moderator?(@board) %>
<br/>
<%= render 'board_controls' %>
<br/>
<% end %>

<% if @topics.any? %>
<div>
	<%= will_paginate @topics %>
	<br/><br/>

	<table class="topics">
		<tr>
			<th class="header topic-title">Title</th>
			<th class="header topic-author">Author</th>
			<th class="header topic-posts">Replies</th>
			<th class="header topic-last-post">Last Post</th>
			<th class="header topic-created">Created</th>
		</tr>
		<%= render @topics %>
	</table>

	<br/>
	<%= will_paginate @topics %>

</div>
<% else %>
No Topics
<% end %>

<% if signed_in? %>
<%= button_to "Create new topic", new_board_topic_path(@board), :method => :get %>
<% end %>