<% provide(:title, @board.title) %>
<h1><%= link_to "Forums", boards_path %> > <%= @board.title %></h1>
<h2 class="description"><%= @board.description %></h2>

<div>

	<%= will_paginate @topics %>
	<br/><br/>

	<table class="topics">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Posts</th>
			<th>Last Post</th>
			<th>Created</th>
		</tr>
		<%= render @topics %>
	</table>

	<br/>
	<%= will_paginate @topics %>

</div>

<% if signed_in? %>
<%= button_to "Create new topic", new_board_topic_path(@board), :method => :get %>
<% end %>