<table id="post-<%= post.id %>" class="post <%= cycle("odd", "even", name: "color") -%>">
	<tr>
		<td class="pc10 center border-right">
			<%= render 'users/user_link', user: post.user %>
		</td>
		<td class="pc90 smaller">
			<%= post.created_at.strftime("%A, %B %d, %Y at %r")%> in reply to <%= link_to "#{post.topic.title}", post.topic  %>
		</td>
	</tr>

	<tr>
		<td class="pc10 center border-right">
			<%= image_tag("rails.png", alt: "Rails") %><br/>
			<% if post.user.moderating?(post.topic.board) %>
			<span style="<%= Rank.moderator_style %>">Moderator</span><br/>
			<% end %>
			<% if !post.user.rank_title.empty? %>
			Rank: <%= post.user.rank_title %></br>
			<% end %>
			Posts: <%= post.user.posts.count %><br/>
		</td>
		<td class="pc90">
			<%= simple_format(post.content)%>
		</td>
	</tr>

	<tr>
		<td class="pc10 smaller border-right">Post id: <%= post.id %></td>
		<td class="pc90 smaller">
			<%= link_to "Permalink", post.permalink %>
			<!-- <%= link_to "PM" %> -->

			<% if current_user?(post.user) %>
			<%= link_to "Edit", edit_post_path(post) %>
			<% else %>
<!-- 			<% if current_user_is_admin? %>
			<span>
				| <%= link_to "Warn", '' %> |
				<%= link_to "Ban", '' %> |
				<%= link_to "Delete", '' %>
				<% end %>
			</span> -->
			<% end %>
		</td>
	</tr>
</table>