<h1><%= link_to "Forums", boards_path %> > <%= link_to "#{@topic.board.title}", @topic.board %> > <%= link_to "#{@topic.title}", @topic %> > New Post</h1>

<div>
	<%= form_for [@topic, @post] do |f| %>

	<%= render 'shared/error_messages', object: @post %>

	<%= f.hidden_field :action, :value => :create %>

	<br/>

	<%= f.text_area :content %>

	<br/>

	<%= f.submit "Post!", class: "button submit" %>
	<% end %>
</div>