
<div>
	<%= form_for [@topic, @post] do |f| %>

	<%= render 'shared/error_messages', object: @post %>

	<%= f.hidden_field :action, :value => :create %>

	<%= f.text_area :content %>

	<br/>

	<%= f.submit "Post", class: "button submit" %>
	<% end %>
</div>