<h1>Create new post</h1>
Return to <%= link_to "#{@topic.title}", @topic %>

<div>
	<%= form_for(:post) do |f| %>

	<%= render 'shared/error_messages', object: @post %>

	<%= f.hidden_field :action, :value => :create %>

	<%= f.label :content %>
	<%= f.text_area :content %>

	<%= f.submit "Post!", class: "button submit" %>
	<% end %>
</div>